<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perfiles</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'profiles', :action => 'index' %>">Perfiles</a>
            </li>
            <li class="breadcrumb-item">
                <strong>Crear Perfiles</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Rellenar los campos del nuevo perfil</h5>
            </div>
            <div class="ibox-content">
                <%= form_for @profile, :url => "/profiles/#{@profile.id}", :method => "put" do |f| %>
                    <div class="form-group">
                        <%= f.label "Nombre del perfil *" %>
                        <%= f.text_field :profile, {:class => "form-control"} %>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <%= f.label "Reporta a:" %>
                        <%= select_tag "reports_tos", options_for_select(@profiles.map {|profile| [profile.profile, profile.id]}), {:class => "form-control", :id => "reports_to_fields", :include_blank => true, :multiple => true} %>
                    </div>
                    <div class="form-group">
                        <%= f.label "Supervisión Directa:" %>
                        <%= select_tag "direct_supervisions", options_for_select(@profiles.map {|profile| [profile.profile, profile.id]}), {:class => "form-control", :id => "direct_supervision_fields", :include_blank => true, :multiple => true} %>
                    </div>
                    <div class="form-group">
                        <%= f.label "Es Reemplazado por:" %>
                        <%= select_tag "replace_bies", options_for_select(@profiles.map {|profile| [profile.profile, profile.id]}), {:class => "form-control", :id => "replace_by_fields", :include_blank => true, :multiple => true} %>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <%= f.label "Objetivo *" %>
                        <%= f.text_area :objective, {:class => "form-control", :rows => "5"} %>
                    </div>
                    <div class="form-group">
                        <%= f.label "Funciones *" %>
                        <%= f.text_area :functions, {:class => "form-control", :rows => "15"} %>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h2>Competencias Blandas</h2>
                    <div id="add-blandas-association" class="abilities-fields-blandas">
                        <%= f.fields_for :profile_abilities do |builder| %>
                            <%= render 'blandas_profile_ability_fields_edit', f: builder %>
                        <% end %>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <%= link_to_add_association f, :profile_abilities, :partial => "blandas_profile_ability_fields_edit", data: {
                                association_insertion_node: '.abilities-fields-blandas', association_insertion_method: :append
                            }, :class => "btn btn-primary float-right", :id => "add_association" do %>
                                <i class="fa fa-plus"></i>&nbsp;Agregar Habilidad
                            <% end %>
                        </div>
                    </div>
                    
                    <div class="hr-line-dashed"></div>
                    <h2>Competencias Técnicas</h2>
                    <div id="add-tecnicas-association" class="abilities-fields-tecnicas">
                        <%= f.fields_for :profile_abilities do |builder| %>
                            <%= render 'tecnicas_profile_ability_fields_edit', f: builder %>
                        <% end %>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <%= link_to_add_association f, :profile_abilities, :partial => "tecnicas_profile_ability_fields_edit", data: {
                                association_insertion_node: '.abilities-fields-tecnicas', association_insertion_method: :append
                            }, :class => "btn btn-primary float-right" do %>
                                <i class="fa fa-plus"></i>&nbsp;Agregar Habilidad
                            <% end %>
                        </div>
                    </div>
                    
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#edit_profile_<%= @profile.id %>").validate({
        rules: {
            "profile[profile]": {
                required: true,
            },

            "profile[objective]": {
                required: true,
            },

            "profile[functions]": {
                required: true,
            },
        },
        messages: {
            "profile[profile]": {
                required: "Este campo es requerido."
            },
            "profile[objective]": {
                required: "Este campo es requerido."
            },
            "profile[functions]": {
                required: "Este campo es requerido."
            },
        }
    })

    $('#add-tecnicas-association').on('cocoon:after-insert', (e, insertedItem) => {
        ability_select = insertedItem[0].firstChild.nextSibling.firstChild.nextSibling.firstChild.nextSibling.nextSibling.nextSibling
        ability_select.classList.add("form-control")
        ability_select.classList.add("habilidades_select")
        $(ability_select).select2({
            placeholder: "Seleccione las Competencias",
            language: {
                noResults: function (params) {
                return "No hay coincidencias";
                }
            }
        })
        button = insertedItem[0].lastChild.previousSibling.firstChild.nextSibling.firstChild.nextSibling.nextSibling.nextSibling
        $(button).on("click", (e) => {
            e.target.parentElement.parentElement.parentElement.remove()
        })
        // valor_esperado = insertedItem[0].lastChild.previousSibling.firstChild.nextSibling.firstChild.nextSibling.nextSibling.nextSibling
        // $(valor_esperado).TouchSpin({
        //     min: 0,
        //     max: 7,
        //     step: 1,
        //     verticalbuttons: true,
        //     buttondown_class: 'btn btn-white',
        //     buttonup_class: 'btn btn-white',
        //     verticalupclass: 'fa fa-sort-asc',
        //     verticaldownclass: 'fa fa-sort-desc'
        // });
    })

    $('#add-blandas-association').on('cocoon:after-insert', (e, insertedItem) => {
        ability_select = insertedItem[0].firstChild.nextSibling.firstChild.nextSibling.firstChild.nextSibling.nextSibling.nextSibling
        ability_select.classList.add("form-control")
        ability_select.classList.add("habilidades_select")
        $(ability_select).select2({
            placeholder: "Seleccione las Competencias",
            language: {
                noResults: function (params) {
                return "No hay coincidencias";
                }
            }
        })
        button = insertedItem[0].lastChild.previousSibling.firstChild.nextSibling.firstChild.nextSibling.nextSibling.nextSibling
        $(button).on("click", (e) => {
            e.target.parentElement.parentElement.parentElement.remove()
        })
        // $(valor_esperado).TouchSpin({
        //     min: 0,
        //     max: 7,
        //     step: 1,
        //     verticalbuttons: true,
        //     buttondown_class: 'btn btn-white',
        //     buttonup_class: 'btn btn-white',
        //     verticalupclass: 'fa fa-sort-asc',
        //     verticaldownclass: 'fa fa-sort-desc'
        // });
    })

    $("#fisrt_blanda_select").select2({
        placeholder: "Seleccione la Competencia",
        language: {
            noResults: function (params) {
            return "No hay coincidencias";
            }
        }
    })
    
    $("#fisrt_tecnica_select").select2({
        placeholder: "Seleccione la Competencia",
        language: {
            noResults: function (params) {
            return "No hay coincidencias";
            }
        }
    })

    $("#reports_to_fields").select2({
        placeholder: "Seleccione los perfiles",
        language: {
            noResults: function (params) {
            return "No hay coincidencias";
            }
        }
    }).val(gon.profile.reports_tos.map(v => [v.reciever_id])).trigger("change")

    $("#direct_supervision_fields").select2({
        placeholder: "Seleccione los perfiles",
        language: {
            noResults: function (params) {
            return "No hay coincidencias";
            }
        }
    }).val(gon.profile.direct_supervisions.map(v => [v.from_id])).trigger("change")
    
    $("#replace_by_fields").select2({
        placeholder: "Seleccione los perfiles",
        language: {
            noResults: function (params) {
            return "No hay coincidencias";
            }
        }
    }).val(gon.profile.replace_bies.map(v => [v.replacement_id])).trigger("change")

    $(".eliminar-competencia").on("click", (e) => {
        e.target.parentElement.parentElement.parentElement.remove()
    })

});

</script>

<% end %>
