<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perfiles</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'profiles', :action => 'index' %>">Perfiles</a>
            </li>
            <li class="breadcrumb-item">
                <strong>Perfil</strong>
            </li>
            <li class="breadcrumb-item">
                <a href="<%= "/profiles/#{params[:id]}.pdf" %>"> Generar PDF </a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox-content m-b-sm border-bottom">
    <div class="container-fluid e-b">
        <div class="row">
            <div class="col-2 p-md e-b-r text-center">
                <img height="120px" src="<%= image_path('logo.png') %>">
            </div>

            <div class="col-10">
                <div class="row">
                    <div class="col text-center">
                        <h2><strong>PERFIL DE COMPETENCIAS</strong></h2>
                        <h2><strong><%= @profile.profile.upcase %></strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-sm"><h2>1.- IDENTIFICACIÓN DEL PERFIL</h2></div>
    <div class="container-fluid e-b">
        <div class="row">
            <div class="col-4 e-b-r">
                <h3>Nombre del Perfil:</h3>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <h3><%= @profile.profile %></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row e-b-t">
            <div class="col-4 e-b-r">
                <h3>Reporta a:</h3>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <h3>
                            <% @reports_to.each_with_index do |entry, index|%>
                                <% if index == 0 %>
                                <%= entry %>
                                <% else %>
                                / <%= entry %>
                                <% end %>
                            <% end %>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row e-b-t">
            <div class="col-4 e-b-r">
                <h3>Supervisión Directa:</h3>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <h3>
                            <% @direct_supervision.each_with_index do |entry, index|%>
                                <% if index == 0 %>
                                <%= entry %>
                                <% else %>
                                / <%= entry %>
                                <% end %>
                            <% end %>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row e-b-t">
            <div class="col-4 e-b-r">
                <h3>Es Reemplazado por:</h3>
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <h3>
                            <% @replace_by.each_with_index do |entry, index|%>
                                <% if index == 0 %>
                                <%= entry %>
                                <% else %>
                                / <%= entry %>
                                <% end %>
                            <% end %>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-sm"><h2>2.- OBJETIVO DEL PERFIL</h2></div>
    <div class="container-fluid e-b p-sm">
        <h3><%= @profile.objective %></h3>
    </div>

    <div class="p-sm"><h2>3.- FUNCIONES DEL PERFIL</h2></div>
    <div class="container-fluid e-b p-sm">
        <% @profile.functions.split("\r\n\r\n").each do |function| %>
            <h3><%= function %></h3>
        <% end %>
    </div>

    <div class="p-sm"><h2>4.- REQUERIMIENTOS DE COMPETENCIAS BLANDAS</h2></div>
    <div class="container-fluid e-b">
        <div class="row e-b-b">
            <div class="col text-center">
                <h3>Competencias Profesionales</h3>
            </div>
        </div>
        
        <div class="row text-center e-b-b">
            <div class="col-8 e-b-r">
                <h3>Competencia</h3>
            </div>
            <div class="col-4">
                <h3>Nivel Requerido</h3>
            </div>
        </div>
        
        <% contador = 0 %>
        <% @profile.profile_abilities.each do |entry|%>
            <% if entry.ability.abilities_type_id != 1 %>
                <div class="row">
                    <div class="col-8 e-b-r <%= contador != 0 ? "e-b-t" : "" %> vertical-center">
                        <h4><%= entry.ability.ability %></h4>
                    </div>

                    <div class="col-4 <%= contador != 0 ? "e-b-t" : "" %> text-center vertical-center">
                        <h4><%= entry.value %></h4>
                    </div>
                </div>
            <% contador += 1 %>
            <% end %>

        <% end %>
    </div>

    <div class="p-sm"><h2>5.- REQUERIMIENTOS DE COMPETENCIAS TÉCNICAS</h2></div>
    <div class="container-fluid e-b">
        <div class="row e-b-b">
            <div class="col text-center">
                <h3>Competencias Técnicas (conocimientos)</h3>
            </div>
        </div>
        
        <div class="row text-center e-b-b">
            <div class="col-8 e-b-r">
                <h3>Competencia</h3>
            </div>
            <div class="col-4">
                <h3>Nivel Requerido</h3>
            </div>
        </div>
        
        <% contador = 0 %>
        <% @profile.profile_abilities.each do |entry|%>
            <% if entry.ability.abilities_type_id != 2 %>
                <div class="row">
                    <div class="col-8 e-b-r <%= contador != 0 ? "e-b-t" : "" %> vertical-center">
                        <h4><%= entry.ability.ability %></h4>
                    </div>

                    <div class="col-4 <%= contador != 0 ? "e-b-t" : "" %> text-center vertical-center">
                        <h4><%= entry.value %></h4>
                    </div>
                </div>
                <% contador += 1 %>
            <% end %>

        <% end %>
    </div>


</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

});

</script>

<% end %>