<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Editar Administrador</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Administradores</a>
            </li>
            <li class="breadcrumb-item">
                <strong>Editar Administrador</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Editar los campos de Administrador</h5>
            </div>
            <div class="ibox-content">
                <%= form_for @admin, :url => "/admins/#{@admin.id}", :method => "put" do |f|%>

                    <div class="form-group row">
                        <div class="form-group col-md-6 col-sm-12">
                            <%= f.label "Nombre" %>
                            <%= f.text_field :name, {:class => "form-control"} %>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <%= f.label "Apellido" %>
                            <%= f.text_field :last_name, {:class => "form-control"} %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group row">
                        <div class="form-group col-md-6 col-sm-12">
                            <%= f.label "Rut" %>
                            <%= f.text_field :rut, {:class => "form-control", type: "number"} %>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group row">
                        <div class="form-group col-md-6 col-sm-12">
                            <%= f.label "Mail" %>
                            <%= f.text_field :email, {:class => "form-control"} %>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <%= f.label "Contraseña" %>
                            <%= f.text_field :password_digest, {:class => "form-control", type: "password"} %>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>


<% content_for :javascript do %>
<script type="text/javascript">
    $(function() {

        $("#edit_user_<%= @admin.id %>").validate({
            rules: {
                "user[name]": {
                    required: true,
                },
                "user[last_name]": {
                    required: true,
                },
                "user[rut]": {
                    required: true,
                },
                "user[email]": {
                    required: true,
                },
                "user[password_digest]": {
                    required: true,
                },
            },
            messages: {
                "user[name]": {
                    required: "Este campo es requerido."
                },
                "user[last_name]": {
                    required: "Este campo es requerido."
                },
                "user[rut]": {
                    required: "Este campo es requerido."
                },
                "user[email]": {
                    required: "Este campo es requerido."
                },
                "user[password_digest]": {
                    required: "Este campo es requerido."
                },
            }
        })
    })
</script>
<% end %>