<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Autoevaluación</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'autoevaluations', :action => 'index' %>">Autoevaluación</a>
            </li>
            <li class="breadcrumb-item">
                <strong>Llenar Autoevaluación</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox-content m-b-sm border-bottom">
    <%= form_tag "/autoevaluations", :method => "post"%>
    <input hidden name="collaborator" value="<%= @collaborator.id %>">
    <div class="container-fluid e-b">
        <div class="row">
            <div class="col-4 p-md e-b-l e-b-t">
                <img height="120px" src="<%= image_path('logo.png') %>">
            </div>

            <div class="col-8 e-b-t e-b-r">
                <div class="row">
                    <div class="col text-center">
                        <h2><strong>Evaluación de desempeño</strong></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Nombre: <%= @collaborator.user.name %> <%= @collaborator.user.last_name %></h3> <br>
                        <h3>Perfil: <%= @collaborator.profile.profile %></h3> <br>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-8 text-center e-b-v e-b-l">
                <h3>COMPETENCIAS PROFESIONALES</h3>
            </div>

            <div class="col-4 text-center e-b-v e-b-h">
                <h3>CONOCIMIENTOS TÉCNICOS</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4 text-center p-md e-b-b e-b-h">
                        Competencia
                    </div>

                    <div class="col-8">
                        <div class="row">
                            <div class="col text-center p-h-xs e-b-b">
                                Evaluación 2019
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-xxs e-b-r e-b-b text-center">Nunca</div>
                            <div class="col p-xxs e-b-r e-b-b text-center">Rara vez</div>
                            <div class="col p-xxs e-b-r e-b-b text-center">A veces</div>
                            <div class="col p-xxs e-b-r e-b-b text-center">Casi siempre</div>
                            <div class="col p-xxs e-b-b text-center">Siempre</div>
                        </div>
                    </div>
                </div>

                <% @collaborator.profile.abilities.each_with_index do |ability, index|%>
                    <% if ability.abilities_type_id != 1 %>
                        <div class="row e-b-b">
                            <div class="col-4 text-left p-sm e-b-r e-b-l">
                                <strong><%= ability.ability %></strong>
                            </div>

                            <div class="col-8">
                                <div class="row">
                                    <div class="col p-sm e-b-r text-center">
                                        <input required type="radio" value="1" name="abilities[<%=ability.id%>][value]"/>
                                    </div>
                                    <div class="col p-sm e-b-r text-center">
                                        <input required type="radio" value="2" name="abilities[<%=ability.id%>][value]"/>
                                    </div>
                                    <div class="col p-sm e-b-r text-center">
                                        <input required type="radio" value="3" name="abilities[<%=ability.id%>][value]"/>
                                    </div>
                                    <div class="col p-sm e-b-r text-center">
                                        <input required type="radio" value="4" name="abilities[<%=ability.id%>][value]"/>
                                    </div>
                                    <div class="col p-sm <%= 
                                        @blandas_count > @tecnicas_count && index >= @tecnicas_count ? "e-b-r" : ""
                                    %> text-center">
                                        <input required type="radio" value="5" name="abilities[<%=ability.id%>][value]"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="col-4 text-center evaluation-wrapper">
                <div class="row e-b-l e-b-b">
                    <div class="col-8 text-center p-md e-b-r">
                        Competencia
                    </div>
                    <div class="col-4 text-center p-md e-b-r">
                        Evaluación 2019
                    </div>
                </div>
                
                <% @collaborator.profile.abilities.each_with_index do |ability, index|%>
                    <% if ability.abilities_type_id != 2 %>
                        <div class="row e-b-b e-b-l">
                            <div class="col-8 text-center e-b-r" style="padding: 12px;">
                                <strong><%= ability.ability %></strong>
                            </div>
                            <input required class="col-4" type="number" min="1" max="5" style="padding: 13px" name="abilities[<%=ability.id%>][value]"/>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container-fluid p-md">
        <div class="row">
            <div class="offset-11 col-1">
                <button class="float-right btn btn-w-m btn-lg btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
    </form>
</div>
</div>