<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Habilidades</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'abilities', :action => 'index' %>">Habilidades</a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


<%= form_tag abilities_path, :method => 'get' do %>
<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-form-label" for="habilidad">Habilidad</label>
                <%= text_field_tag :ability, params[:ability], {
                    :class => "form-control",
                    :placeholder => "Habilidad"
                } %>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label class="col-form-label" for="categoria">Categoria</label>
                <%= select_tag :category, options_for_select(
                    @categories.map {|category| [category.category, category.id]}
                ), {
                    :class => "form-control",
                    :include_blank => "Todo"
                } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 offset-lg-11">
            <%= button_tag :submit, {:class => "btn btn-primary float-right"} do %>
                <i class="fa fa-search"></i>&nbsp;Buscar
            <% end %>
        </div>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                    <tr>

                        <th data-toggle="true">Habilidad</th>
                        <th data-hide="phone">Categoria</th>
                        <th class="text-right" data-sort-ignore="true">Acciones</th>

                    </tr>
                    </thead>
                    <tbody>
                    <% @abilities.each_with_index do |ability, index| %>
                        <tr>
                            <td id="ability-<%= index %>">
                                <%= ability.ability %>
                            </td>
                            <td id="category-<%= index %>">
                               <%= ability.category.category %>
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button data-toggle="modal" href="#modificar-habilidad-form" id="edit-button-<%= index %>" class="btn-warning btn btn-xs" style="border-radius: 0px;">Editar</button>
                                    <%= link_to ability_path(ability), :controller => "abilities", :action => "destroy", :method => "delete" do %>
                                        <button class="btn-danger btn btn-xs" style="border-radius: 0px;">Borrar</button>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                    <% end %>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

</div>

<div id="modificar-habilidad-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm"><h3 class="m-t-none m-b">Modificar Habilidad</h3>
                        <form id="modificar-form" action="/abilities/1" accept-charset="UTF-8" method="put">
                            <div class="form-group">
                                <label>Habilidad</label>
                                <%= text_field_tag :updated_ability, params[:updated_ability], {
                                    :class => "form-control",
                                    :id => "updated_ability_ability",
                                    :placeholder => "Habilidad"
                                }%>
                            </div>
                            <div class="form-group">
                                <label>Categoria</label>
                                <%= select_tag :updated_category, options_for_select([["Habilidad Técnica", 1], ["Habilidad Blanda", 2]]), {
                                    :class => "form-control",
                                    :id => "updated_ability_category"
                                }%>
                            </div>
                            <div>
                                <button class="btn btn-primary float-right" type="submit"><strong>Guardar Cambios</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

var abilities

$(function() {
    $(document).ready(() => {
        abilities = '<%@abilities.each do |ability| %>{"id": <%= ability.id %>, "ability": "<%= ability.ability %>", "category": <%= ability.category.id %>},  <%end%>'.split(",  ").slice(0, -1)
        for (let i = 0; i < abilities.length; ++i)
            abilities[i] = JSON.parse(abilities[i])
    })

    $('.footable').footable();

    $('[id^="edit-button-"]').on('click', (e) => {
        const index = e.target.id.substring(12, e.target.id.length)
        $("#updated_ability_ability").val(abilities[index].ability)
        $("#updated_ability_category").val(abilities[index].category)
        $("#modificar-form").attr("action", `/abilities/${abilities[index].id}`)
    })


});

</script>

<% end %>