<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6 text-center">
            <img height="120px" src="<%= image_path('logo.png') %>">
            <p class="p-h-md">Tecnologías, Metodologías y Servicios Especializados para un enfoque integral de la Gestión de Operaciones y Activos</p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <%= form_for @user, :url => "/login", :method => "post", :class => "m-t" do |f| %>
                    <div class="form-group <%= flash[:mensaje].present? ? "has-error" : "" %>">
                        <%= f.text_field :email, {
                            :class => "form-control",
                            :placeholder => "Mail",
                            :type => "email",
                            :required => ""
                        }%>
                    </div>
                    <div class="form-group <%= flash[:mensaje].present? ? "has-error" : "" %>">
                        <%= f.text_field :password_digest, {
                            :class => "form-control",
                            :placeholder => "Contraseña",
                            :type => "password",
                            :required => ""
                        }%>
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Iniciar Sesión</button>
                <% end %>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Contac Ltda
        </div>
    </div>
</div>